<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <header class="admin-header">
    <h1>Administration</h1>
  </header>

  <div class="admin-container">
    <aside class="admin-sider">
      <span><a href="/admin/products">Produkter</a></span>
    </aside>

    <main class="admin-main-content">
      <%- body %>
    </main>
  
  </div>

</body>
</html>
